<div class="container">
    <table class="table table-bordered" width="100%">
         {% if data %}
        <thead>
            <tr>
                <th>Standard Lead Time In Days  : {{data[0].std_lead_time}}</th>
                <th>Calculated Lead Time In Days  : {{data[0].calulated_lead_time_in_days}}</th>
            </tr>
            <tr>
                <th>Type</th>
                <th>Date Available</th>
                <th>Qty</th>
            </tr>
        </thead>
        <tbody>
             {% for row in data %}
           <tr>
               <td>{{row.type}}</td>
               <td>{{row.date_available}}</td>
               <td>{{row.qty}}</td>
           </tr>
        </tbody>
        {% endfor %}
         {% endif %}
    </table>
</div>