<style type="text/css">
</style>
<div class="conatiner">
	<table width="100%">
		<tr colspan="12" style="height:50px">
			<td colspan="12" style="text-align:right;">{{frappe.utils.formatdate(data.posting_date,"mm-dd-yyyy")}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr colspan="12" style="height:50px">
			<td colspan="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.party_name or ""}}</td>
			<td colspan="2" style="text-align:right;">{{data.paid_amount or ""}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr colspan="12" style="height:50px">
			<td colspan="12">{{frappe.utils.money_in_words(data.paid_amount).split(' ', 1)[1] or ""}}</td>
		</tr>
		<tr colspan="12">
			<td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>4323</b></td>
			<td colspan="10" style="height:200px; text-align: right;"><img src="https://uatrushabhinstruments.indictranstech.com/files/signature.png", alt="signature">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		</tr>
	</table>
	<br>
	<br>
	<br>
	{% if data.references %}
	<table width="100%">
		<tr colspan="12" style="height:50px">
			<td colspan="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{data.party_name or ""}}</b></td>
			<td colspan="4"><b>{{frappe.utils.formatdate(data.posting_date,"mm-dd-yyyy")}}</b></td>
		</tr>
		<tr colspan="12" style="text-align:center; height:50px">
			<td colspan="1"><b>Date</b></td>
			<td colspan="1"><b>Type</b></td>
			<td colspan="2"><b>Reference</b></td>
			<td colspan="2"><b>Original Amount</b></td>
			<td colspan="2"><b>Balance Due</b></td>
			<td colspan="2"><b>Discount</b></td>
			<td colspan="2"><b>Payment</b></td>
		</tr>
		{% for row in data.references %}
		<tr colspan="12" style="text-align:center; height:50px">
			<td colspan="1">{{frappe.utils.formatdate(row.date,"mm-dd-yyyy")}}</td>
			<td colspan="1">Bill</td>
			<td colspan="2">{{row.reference_name}}</td>
			<td colspan="2">{{row.original_amount}}</td>
			<td colspan="2">{{row.balance_amount}}</td>
			<td colspan="2"></td>
			<td colspan="2">{{row.payment}}</td>
		</tr>
		{% endfor %}
		<tr colspan="12" style="text-align:center; height:50px">
			<td colspan="10" style="text-align:right">Check Amount</td>
			<td colspan="2">{{data.total_allocated_amount}}</td>
		</tr>
	</table>
	{% endif %}
</div>